<footer id="footer">
    <div class="container">                               
        <section class="footer-menu">        
            <div class="row justify-content-start align-items-start">                                   
                <div class="col-12 py-3">
                    {{#if navigation.footer}}                    
                    <div class="row justify-content-start">
                        {{#each navigation.footer}}
                        <div class="col-auto">
                            {{#each children}}                            
                            <p class="nav-menu-header">{{title}}</p>
                            <ul class="nav-menu">
                                {{#each children}}
                                <li class="menu-item">
                                {{#compare type '==' 'text'}}
                                <span class="menu-item-text">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{{title}}}</span>{{/if}}</span>
                                {{else}}
                                <a href="{{slug}}" class="menu-item-link" target="{{ target }}">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</a>
                                {{/compare}} 
                                </li>
                                {{/each}} 
                            </ul>                            
                            {{/each}} 
                        </div>
                        {{/each}}                                                                       
                    </div>                    
                    {{/if}}
                </div>
            </div>                    
        </section>
        <section class="footer-bottom">
            <div class="container">      
                <div class="d-flex flex-wrap justify-content-center align-items-center">
                    <span class="d-block">&copy; Branc Devs Inc. 2022 &amp; Beyond. All Rights Reserved.</span>  
                </div>    
            </div>
        </section>
    </div>
</footer>