<header id="header">
    {{#if announcement.header}}
    <div class="announcements">
        <div class="container"><span>{{{announcement.header}}}</span></div>
    </div>           
    {{/if}}             
    <div class="navigation">
        <div class="container">
            <div class="row align-items-center">                    
                <div class="col-12 col-lg-auto d-flex justify-content-between justify-content-lg-center align-items-center">                                                                   
                    <span class="nav-hamburger d-lg-none p-2 me-2" data-toggle="nav-menu" data-bs-toggle="offcanvas" data-bs-target="#mobile-nav" aria-controls="mobile-nav"></span>                                                                                                              
                </div>
                <div class="col d-flex justify-content-end">                        
                    {{#if navigation.main}}
                    <div class="d-none d-lg-block">
                        <ul class="nav-menu">
                            {{#each navigation.main}}
                            <li class="menu-item">
                                {{#if children}}
                                <a href="#" class="menu-item-link has-children" data-bs-toggle="dropdown" aria-expanded="false">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</a>
                                <div class="dropdown-menu dropdown-menu-end" role="menu">     
                                    {{#each children}}                       
                                    <a href="{{slug}}" class="dropdown-item {{#compare slug 'slug' ../../path }}active{{/compare}}" target="{{ target }}">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</a>   
                                    {{/each}}                                                               
                                </div>
                                {{else}}
                                {{#compare type '==' 'text'}}
                                <span class="menu-item-text">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</span>
                                {{else}}
                                <a href="{{slug}}" class="menu-item-link {{#compare slug 'slug' ../path }}active{{/compare}}" target="{{ target }}">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</a>
                                {{/compare}}
                                {{/if}} 
                            </li>                        
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}                                                    
                </div> 
            </div>
        </div>              
    </div>
</header>