<div id="mobile-nav" class="flex-shrink-0 bg-white offcanvas offcanvas-start">    
    <div class="offcanvas-header d-flex align-items-center justify-content-end p-3">      	
		<div><span class="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close"></span></div>
    </div>    
    <div class="offcanvas-body d-flex flex-column">
        {{#if navigation.main}}
        <ul class="nav-menu">
            {{#each navigation.main}}
            <li class="menu-item">
                {{#if children}}
                <a href="#navChildren{{@index}}" class="menu-item-link has-children" data-bs-toggle="collapse" data-bs-target="#navChildren{{@index}}" aria-expanded="false">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</a>
                <ul id="navChildren{{@index}}" class="children-menu collapse">     
                    {{#each children}}                       
                    <li class="menu-item"><a href="{{slug}}" class="menu-item-link {{#compare slug 'slug' ../../path }}active{{/compare}}">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</a></li>   
                    {{/each}}                                                               
                </ul>
                {{else}}
                {{#compare type '==' 'text'}}
                <span class="menu-item-text">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</span>
                {{else}}
                <a href="{{slug}}" class="menu-item-link {{#compare slug 'slug' ../path }}active{{/compare}}" target="{{ target }}">{{#if icon}}<i class="menu-item-icon {{ icon }}"></i>{{/if}}{{#if title}}<span>{{title}}</span>{{/if}}</a>
                {{/compare}}
                {{/if}} 
            </li>                        
            {{/each}}
        </ul>
        {{/if}}
    </div>    
</div>