<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>{{#if title}}{{ title }} |{{/if}} {{global "APP_NAME"}}</title>
    {{#if meta_data}}
    {{{meta_data}}}
    {{/if}}    
    <link rel="icon" type="image/png" sizes="192x192"  href="{{global "ASSETS_PATH"}}/images/android-chrome-192x192.png">        
    <link rel="apple-touch-icon" sizes="180x180" href="{{global "ASSETS_PATH"}}/images/apple-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{global "ASSETS_PATH"}}/images/favicon-32x32.png">    
    <link rel="icon" type="image/png" sizes="16x16" href="{{global "ASSETS_PATH"}}/images/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{global "ASSETS_PATH"}}/css/styles.css" rel="stylesheet">
    {{{sections 'styles'}}}
</head>
<body>
    <div id="pageWrapper">
        
        {{> header}}

        {{{sections 'header'}}}

        {{{ body }}}        

        <div class="mt-auto"></div>                               

        {{{sections 'footer'}}}

        {{> footer}}        
        
    </div>

    {{> mobile-nav}} 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="{{global "ASSETS_PATH" }}/js/app.js"></script>

    {{{sections 'scripts'}}}
</body>
</html>